<!DOCTYPE html>
{%load staticfiles%}
<html>
<head>
    <link href="{%static 'main/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/css/myCSS.css'%}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--<script src="{%static 'main/js/bootstrap.js'%}"></script>-->
    <script src="{%static 'main/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'main/js/myCode.js' %}"></script>
</head>
<body class="backBody">

    <div class = "row">
        <div class="row">
        {% include "main/head.html"%}
        </div>

        <div class="row">
            <div class="col-xs-8 marCont">
                {% block content %}
                {% endblock content%}
            </div>
            <div class="col-xs-2">
                    {% include "main/tags.html"%}
            </div>
        </div>
    </div>
</body>
</html>
