{% extends "main/base.html" %}
{% load staticfiles %}

{% block content %}
<!-- Modal -->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Log in</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                {% if bad_user %}
                <div class="row badUser"> <p> некорректный пользователь </p> </div>
                {% endif %}
                <div class="col-xs-10">
                    <div class="row">
                        <form class="form-horizontal" method="post" name="login_form" action="/login/" onsubmit="return validate_login_form ( );">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-xs-3" for="loginName">login</label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" name="username" id="loginName" placeholder="Введите логин">
                                    <div class="none" id="logName">
                                        <span class="glyphicon glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                        <span class="sr-only">(error)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3" for="controlPassword">Пароль:</label>
                                <div class="col-xs-9">
                                    <input type="password" class="form-control" id="controlPassword" name="password" placeholder="Введите пароль">
                                    <div class="none" id="logPass">
                                        <span class="glyphicon glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                        <span class="sr-only">(error)</span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-xs-offset-3 col-xs-9">
                                    <input type="submit" class="btn btn-primary" value="Log in">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!-- конец модального окна логина-->
{%endblock%}