{% extends "main/base.html" %}
{%block content%}
<!-- ask блок -->
<div class="row backAsk">
    <div class="row questPad">
        <h2>Добавить вопрос</h2>
    </div>
    <div class="row">
        <div id="addQuestion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-10">
                        <div class="row">
                            <form class="form-horizontal" name="ask_form" action="{% url 'main:add_quest' %}" onsubmit="return validate_ask ( );">
                                {%csrf_token%}
                                {% for i in form.visible_fields %}
                                <div class="form-group">
                                    <label class="control-label col-xs-3" for="id_{{i.name}}">{{i.label}}</label>
                                    <div class="col-xs-9">
                                        {{i}}
                                        <!--<input type="text" class="form-control" name="titleAsk" id="title" placeholder="Заголовок вопроса">-->
                                        <div class="{%if not i.error%} none {% endif %}" id="titleName">
                                            <span class="glyphicon glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                            <span class="sr-only">(error)</span>
                                        </div>
                                    </div>
                                </div>
                                {%endfor%}
                                <br />
                                <div class="form-group">
                                    <div class="col-xs-offset-3 col-xs-9">
                                        <input type="submit" class="btn btn-primary" value="Задать вопрос">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock content%}
